cldf
cldf-out*
data
data-*
out-*
.idea
__pycache__
.DS_Store
*.csv
*.docx
*.xlsx
*.HEIC
.claude
*.zip
errors*
stats.txt
site-assets
appunti.txt
db.sqlite
convert-before-*
convert_bak*
examples.txt
backend/.venv
.env
.venv
node_modules
dist
*.db
